/*********comfirm-box************/
/*# confirm box*/
.confirm-box-back-drop{
    width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1030;
  position: fixed;;
  top: 0px;
  left: 0px;
}
.confirm-box{
  left: 0;
  right: 0;
  position: fixed;
  font-size: .875rem;
  color: #AEB7C2;
  width: 50%;
  margin: 25% auto;
  border-radius: 5px;
}
.confirm-box-tille{
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #2f353a;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border-radius: 1px 1px 0px 0px;
  display: inline-block;
  width: 100%;
}
.confirm-header-button button{
  padding: 0px 6px;
}
.confirm-header-button{
  float: right;
}

.confirm-box-message{
  background-color: #fff;
  line-height: 30px;
  padding: 20px 15px;
  overflow: auto;
  height: auto;
  position: relative;
  color: #23282c;
  overflow: hidden;
}
.confirm-box-button{
  border-top: 1px solid #c8ced3;
  background-color:#fff; 
  padding: 10px;
  border-radius: 0px 0px 3px 3px;
}
.confirm-box.visible-true {
  animation:animatezoomin 0.3s;
} 
@keyframes animatezoomin{
  from{
      transform:scale(0)
  } 
  to
  {
      transform:scale(1)
  }
}
.confirm-box.visible-false {
  animation:animatezoomout 0.3s;
  transition: visibility 0.3s;
} 
@keyframes animatezoomout{
  from{
      transform:scale(1)
  } 
  to
  {
      transform:scale(0);
  }
}
/*********comfirm-box************/

/*********modal************/
/*# modal box*/
.modal-box-back-drop{
    width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1020;
  position: fixed;;
  top: 0px;
  left: 0px;
}
.modal-box{
  left: 0;
  right: 0;
  position: fixed;
  font-size: .875rem;
  color: #AEB7C2;
  width: 80%;
  margin: 10% auto;
  border-radius: 5px;
}
.modal-box.visible-true {
  animation:animatezoomin 0.3s;
} 
@keyframes animatezoomin{
  from{
      transform:scale(0)
  } 
  to
  {
      transform:scale(1)
  }
}
.modal-box.visible-false {
  animation:animatezoomout 0.3s;
  transition: visibility 0.3s;
} 
@keyframes animatezoomout{
  from{
      transform:scale(1)
  } 
  to
  {
      transform:scale(0);
  }
}
/*********modal************/

/*********modal-body************/
.modal-box-message{
  background-color: #fff;
  line-height: 30px;
  padding: 20px 15px;
  overflow: auto;
  height: 500px;
  position: relative;
  color: #23282c;
  overflow: hidden;
}
/*********modal-body************/

/*********modal-footer************/
.modal-box-button{
  border-top: 1px solid #c8ced3;
  background-color:#fff; 
  padding: 10px;
  border-radius: 0px 0px 3px 3px;
}
/*********modal-footer************/

/*********modal-header************/
.modal-box-tille{
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #2f353a;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border-radius: 1px 1px 0px 0px;
  display: inline-block;
  width: 100%;
}
.modal-header-button button{
  /* border-radius: .25rem; */
  /* background-color: #f86c6b;
  color: white; */
  padding: 0px 6px;
}
.modal-header-button{
  float: right;
}
/*********modal-header************/

/*********basic/connect-to-shopping-mall************/
.list-shopping{ 
  .logo{
  width: 90px;
  }
}
.list-shopping  .comming-soon{
  background-color: #63c2de;
  color: white;
}
.list-shopping  .setup{
  color: #4dbd74;
}
.list-shopping  .service{
  background-color: #4dbd74;
  color: white;
}
.list-shopping  .stop{
  background-color: #c8ced3;
}
.list-shopping td, th {
  display: table-cell;
  vertical-align: inherit;
}
#add_shopping #diff_shopping{
  margin-top: 11px;
}
.shopping-connect-items .connect-item{
  padding: 1px 5px;
  font-weight: 500;
  border: 1px solid #20a8d8;
  border-left: 5px solid #20a8d8;
  transition: color 0.3s;
  cursor: pointer;
}
.shopping-connect-items .connect-item .shop-id{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  display: inline-block;
}
.shopping-connect-items .buttons-list{
  display: inline-block;
  margin-top: 2px;
  max-width: 85px;
}
.new-shop-regis-title{
  font-weight: bold;
}
.shopping-mall-connected-shop-list{
  max-height: 122px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*********basic/connect-to-shopping-mall************/

/*********basic/connect-to-shopping-mall/modal-connecting-shoping************/
.shopping-connect-items .connect-item{
  padding: 1px 5px;
  font-weight: 500;
  border: 1px solid #20a8d8;
  border-left: 5px solid #20a8d8;
  transition: color 0.3s;
  cursor: pointer;
}
.shopping-connect-items .connect-item .shop-id{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  display: inline-block;
}
.shopping-connect-items .buttons-list{
  display: inline-block;
  margin-top: 2px;
  max-width: 85px;
}
.new-shop-regis-title{
  font-weight: bold;
}
.shopping-mall-connected-shop-list{
  max-height: 122px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*********basic/connect-to-shopping-mall/modal-connecting-shoping************/

/*********product/managed************/
.product-detail-title {
  font-size: 17px;
  padding: 5px 10px;
  font-weight: 500;
  border: 1px solid #20a8d8;
}
/*----- Custom CSS boostrap -------*/
.nav-tabs.tab-collapse>li>a{
  border-radius: 0px;
  color: #AEB7C2;
  padding: 5px 10px;
}
.nav-tabs.tab-collapse{
  background-color: #fff;
  border-bottom: 1px solid #20a8d8;
  margin-top: 10px;
}
.nav-tabs.tab-collapse>li.active>a,.nav-tabs.tab-collapse>li.active>a:hover,.nav-tabs.tab-collapse>li.active>a:focus{
  color: #fff;
  background-color: #2B333E;
  border-bottom:5px solid #20a8d8;
}
.nav-tabs.tab-collapse>li{
  min-width: 125px;
}
.nav-tabs.tab-collapse>li.tab-collapse{
  width: 30px;
  min-width: 30px;
  float: right;
  right: 0px;
}
.nav.tab-collapse>li>a:focus, .nav.tab-collapse>li>a:hover{
  color: #2B333E;
  border-bottom: 5px solid #AEB7C2;
}
.form-horizontal .control-label{
  text-align: left;
  font-weight: 500;
}
.tab-pane{
  padding: 10px 0px;
}
.btn-border-primary{
  border: 1px solid #20a8d8;
}
.btn-tab-collapse{
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 20px;
  border-bottom: 0px;
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0px 10px;
}
.btn-tab-collapse:hover, .btn-tab-collapse:focus,.btn-tab-collapse:active:hover{
  background-color: #20a8d8;
  color: #fff;
  border-bottom: 0px;
}
.thumbnail{
  border-radius: 0px;
  border: 1px solid #ddd;
  transition: all;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  display: block;
  max-width: 100%;
  height: auto;
}
.thumbnail:hover{
  border: 1px solid #20a8d8;
  cursor: pointer;
}
.thumbnail img{
  margin: auto;
}
.required-field:after{
  content: ' (*)';
  color:#d9534f;
}
.product-detail-title{
  font-size: 17px;
  padding: 5px 10px;
  font-weight: 500;
  border: 1px solid #20a8d8;
}
.required-file-valiate{
  border: 1px solid #F9354C;
}
.control-button-header.scroll-top{
  position: fixed;
  z-index: 999;
  background-color: #fff;
  float: right;
  right: 0px;
}
/*********product/managed************/

/*********product/wisi************/
.product-tr-item .image{
  width: 45px;
  height: 45px;   
}
.product-tr-item{
  cursor: pointer;
}
/*rc tree custom css*/
.collapse {
overflow: hidden;
display: block;
}

.collapse-active {
transition: height 0.3s ease-out;
}
.custom-rc-tree-root.rc-tree li .rc-tree-node-content-wrapper{
  padding: 0px 3px 0px 0px;
  height: 30px;
  margin-top: 2px;
}
.custom-rc-tree-root.rc-tree li .rc-tree-node-content-wrapper:hover{
  color: #20a8d8;
}
.rc-tre-custom-checkbox{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0.75em;
  line-height: 1.2;
  clear: both;
  padding-left: 1.8em;
}
.rc-tre-custom-checkbox:before {
  position: absolute;
  content: " ";
  border: 1px solid rgba(192, 200, 208, 1);
  background: rgba(192, 200, 208, 1);
  width: 13px;
  height: 13px;
  left: 0;
  margin-top: 0px;
}
.rc-tre-custom-checkbox:after {
  position: absolute;
  content: " ";
  width: 16px;
  height: 16px;
  left: 0;
  margin-top: -2px;
}
.rc-tre-custom-checkbox.checked:before {
  content: "︎︎ ";
  color: #20a8d8;
  background: #20a8d8;
  text-align: center;
  border: 3px solid #20a8d8;
}
.rc-tre-custom-checkbox.checked:after {
  margin-top: 0px;
  left: 4px;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}
.custom-rc-tree-root.rc-tree li span.rc-tree-switcher.rc-tree-switcher_open{
  margin-top: 8px;
}
.custom-rc-tree-root.rc-tree li span.rc-tree-checkbox{
  display: none;
}
.custom-rc-tree-node .rc-tree-switcher.rc-tree-switcher_close, .custom-rc-tree-node .rc-tree-switcher.rc-tree-switcher_open{
  background-image:none !important;
  border:1px solid rgba(192, 200, 208, 1) !important;
  border-radius: 10px;
  position: relative;
  top: 1px;
}
.custom-rc-tree-node .rc-tree-switcher.rc-tree-switcher_close:before{
  position: absolute;
  content: "\FE0E\FE0E ";
  background: rgba(192, 200, 208, 1);
  text-align: center;
  border: 1px solid rgba(192, 200, 208, 1);
  height: 10px;
  left: 6px;
  top: 2px;
}
.custom-rc-tree-node .rc-tree-switcher.rc-tree-switcher_close:after{
  position: absolute;
  content: "\FE0E\FE0E ";
  background: rgba(192, 200, 208, 1);
  width: 10px;
  top: 6px;
  left: 2px;
  height: 2px;
  text-align: center;
  border: 1px solid rgba(192, 200, 208, 1);
}
.custom-rc-tree-node .rc-tree-switcher.rc-tree-switcher_open:after{
  position: absolute;
  content: "\FE0E\FE0E ";
  background: rgba(192, 200, 208, 1);
  width: 10px;
  top: 6px;
  left: 2px;
  height: 2px;
  text-align: center;
  border: 1px solid rgba(192, 200, 208, 1);
}
/*********product/wisi************/