@media (min-width: 992px) {
    .sidebar-fixed .sidebar {
        width: 300px;
    }
}
@media (min-width: 576px) and (min-width: 992px){
    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer{
        margin-left: 300px;
    }
}
@media (max-width: 991.98px){
    .sidebar {
        width: 300px;
    }
}
body, table{
    font-size: .875rem;
}
.sidebar .sidebar-nav{
    width: 300px;
}
.sidebar .nav{
    width: 300px;
}
html:not([dir=rtl]) .sidebar{
    margin-left: -300px;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus{
    color: #4dbd74;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.active:focus{
    color: #20a8d8;
}
.product-tr-item .image{
    width: 45px;
    height: 45px;   
}
.product-tr-item{
    cursor: pointer;
}
/**folding cube css*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.sk-folding-cube {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #20a8d8;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
@-webkit-keyframes 
sk-foldCubeAngle{
    0%,
    10%
    { 
        -webkit-transform:perspective(140px) rotateX(-180deg);
        transform:perspective(140px) rotateX(-180deg);
        opacity:0
    }
    25%,
    75%
    {
        -webkit-transform:perspective(140px) rotateX(0deg);
        transform:perspective(140px) rotateX(0deg);
        opacity:1
    }
    90%,
    100%
    {
        -webkit-transform:perspective(140px) rotateY(180deg);
        transform:perspective(140px) rotateY(180deg);
        opacity:0
    }
}
@keyframes sk-foldCubeAngle{
    0%,
    10%
    {
        -webkit-transform:perspective(140px) rotateX(-180deg);
        transform:perspective(140px) rotateX(-180deg);
        opacity:0
    }
    25%,
    75%
    {
        -webkit-transform:perspective(140px) rotateX(0deg);
        transform:perspective(140px) rotateX(0deg);
        opacity:1
    }
    90%,
    100%
    {
        -webkit-transform:perspective(140px) rotateY(180deg);
        transform:perspective(140px) rotateY(180deg);
        opacity:0
    }
}
.modal-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #2f353a;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    border-radius: 1px 1px 0px 0px;
}
.sidebar .nav-link.active {
    border-left: 3px solid #20a8d8 !important;
}
/*******React Table CSS**********/
.ReactTable .pagination-bottom{
    height: 50px;
}
.ReactTable .rt-table .rt-tbody img{
    height: 40px;
    width: 40px;
    object-fit: contain;
    border: 1px solid #afaaaa;
}
.ReactTable .rt-table .rt-thead .rt-tr{
    padding: 7px 0px;
    font-weight: bold;
}
.ReactTable .rt-table .rt-tbody .rt-tr .rt-td .centerValue{
    text-align: center;
}

.ReactTable .rt-table .rt-tbody .rt-td .checkboxStyle{
   padding-top: 15px;
}

.ReactTable .pagination-bottom .-pagination{
    height: 42px;
}
/*******React Table CSS**********/